.orb-logo-frame a:link {
    color: royalblue;
}

.orb-logo-frame a:active {
    color: royalblue;
}

.orb-logo-frame a:visited {
    color: royalblue;
}

.orb-logo-frame a:hover {
    color: royalblue;
}